*{
  font-family: 'Inter', sans-serif;
}
td{
  height: 38px;
}
input,select{
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
}
th{
  font-size: 22px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}